* {
    box-sizing: border-box;
    margin: 0 auto;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr ;
    text-align: center;
    padding: 20px;
    margin: 0px 10px;
    font-size: 20px;
    background-color: #f4f1e8;
    opacity: 0.8;
    top: 0;
}

nav #resume{
    font-size: 50px;
    font-family: 'Delicious Handrawn', cursive;
}

nav a{
    color: #003566;
    padding: 20px 20px;
    display: inline-block;
    /* inline-block連結成一列 */
    text-decoration: none;
}

nav a:hover{
    /* hover是判斷滑鼠有沒有點上去 */
    background-color: #fbfbfb;
    color:#226af1;
}

footer{
    margin: 10px;
    padding: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    background-color:#E9C46A ;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;
    /* 加上圓弧 */
    background-size: cover;
    /* 使背景螢幕填滿 */
}
footer .Contact{
    text-align: center;
}