* {
    box-sizing: border-box;
    margin: 0 auto;
    scroll-behavior: smooth;
}

article{
    background-color: bisque;
    margin: 20PX 0 0 0 ;
    padding: 15px 60px ;
    border-radius: 20px;
}

p{
    font-size: 40px ;
}

table{
    background-color: #f4f1e8 ;
    width: 1000px;
    height: 250px;
    text-align: center;
    border-radius: 20px ;
}

table a{
    color:#003566;
    padding: 20px 80px;
}

a:hover{
    /* hover是判斷滑鼠有沒有點上去 */
    background-color: #fbfbfb;
    color:#226af1;
}

th{
    font-size: 25px ;
}

a{
    text-decoration: none;
}